/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general */
body{
    font-family: "Raleway", sans-serif;
}
:root {
	--color-grey: #494949;
	--color-main-bg: #000000;
	--color-tool-bar: #222222;
	--color-text: #fdfdfd;
	--color-share-screen: #4ccc00;
	--color-end-call: #ae272b;
}
.debug{
    border: #ae272b 2px solid;
}
header{
    width: 100%;
    height: 60px;
}